* {
    margin: 0px;
    padding: 0px;
}
/*disable scroll bars */
html {
    overflow: hidden;
}
/* to remove the top and left whitespace */


/*
label.Num {
    margin-bottom: 0px;
    padding-bottom: 0px;
    bottom: 1%;
    left: 12%;
}

label.Bool {
    margin-bottom: 0px;
    padding-bottom: 0px;
    bottom: 1%;
    left: 30%;
}*/

/*@media (min-width: 1400px) {


    input.Num {
        bottom: 1%;
        left: 20%;
    }

    input.Bool {
        bottom: 0.5%;
        left: 36%;
        width: 20px;
        height: 20px;
    }

    label {
        font-size: 20px;
        color: white;
        font-family: 'Comic Sans MS';
    }

    .ProgInput {
        display: none;
        position: absolute;
        z-index: 0;
    }

    input {
        width: 50px;
    }
}

@media (max-width: 1400px) {

    input.Num {
        bottom: 1%;
        left: 22%;
    }



    input.Bool {
        bottom: 1.5%;
        left: 42%;
        width: 20px;
        height: 20px;
    }

    label {
        font-size: 20px;
        color: white;
        font-family: 'Comic Sans MS';
    }

    .ProgInput {
        display: none;
        position: absolute;
        z-index: 0;
    }

    input {
        width: 50px;
    }
}*/
/* To remove the scrollbars */

    /*
    ul li {
        margin-left: 10px;
        font-size: 10px;
        color: white;
        font-family: 'Comic Sans MS';
    }*/
